/* Styles globaux */
html, body {
    height: 100%;
    margin: 0;
}

/* Header et logo */
.logo-class {
    display: block;
    max-width: 5%;
    margin: 0 auto;
}

/* Footer */
footer {
    position: fixed;
    left: o;
    bottom: 0;
    width: 100%;

}

/* Styles spécifiques de la guilde */
.guild-introduction img {
    max-width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.guild-introduction h2 {
    color: #0056b3;
    margin-bottom: 1rem;
}

.guild-introduction p {
    text-align: justify;
    line-height: 1.6;
}

/* Styles de Bootstrap personnalisés */
.jumbotron.bg-transparent {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/* Styles des cartes */
.card {
    border-radius: 0.5rem;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 0;
}

/* Ombres et effets */
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Styles des bannières */
.guild-banner, .banner {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -25px;
}

.banner {
    max-width: 100%;
    height: auto;
}

/* Styles des utilisateurs */
.user-name-style {
    font-weight: bold;
    color: blue;
}

/* Container général pour la page de tableau de bord */
.dashboard-container {
    display: flex;
    justify-content: space-between;
}

/* Sections spécifiques du tableau de bord */
.guilds-section, .members-section, .powers-section {
    flex-basis: 48%; /* Ajuster selon vos besoins */
}

.guilds-section {
    margin-right: 20px; /* Ajoutez une marge entre les sections si nécessaire */
}

.members-section {
    margin-right: 0;
}

/* Styles des éléments de liste */
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.list-item .name {
    flex-grow: 1;
}

.list-item .puissance {
    white-space: nowrap;
    margin-left: 10px;
}

/* Dernier élément de liste */
.guild-item:last-child, .member-item:last-child {
    border-bottom: none;
}

/* Styles des listes de membres et guildes */
.guild-list, .member-list {
    margin-top: 20px;
}

.member-item, .guild-item {
 /*   padding: 15px;*/
 /*   border-bottom: 2px solid;*/
 /*   cursor: pointer;*/
 /*   transition: background-color 0.3s ease;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
    .guild-item, .member-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

.guild-item:hover, .member-item:hover {
    background-color: #f8f9fa;
}

/* Conteneurs des membres */
.members-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.member-name, .member-power {
    margin: 0;
}

.logo-class {
    height: auto; /* Adapt to your needs */
    width: auto; /* Adapt to your needs, or set a specific width */
}

/* Augmenter la taille de la police pour tous les liens de la navigation */
.navbar-nav .nav-link .nav-item{
    font-size: 100rem; /* Choisissez la taille qui vous convient */
    padding: 0.5rem 1rem; /* Ajoute plus de padding autour des liens */
}

/* Ajuster la hauteur de la barre de navigation */
.navbar {
    padding: 1% 1rem; /* Augmente le padding, ce qui augmente la hauteur totale */
}
